<div class="row">
  <div class="col-md-8 col-md-offset-2">
        <table class="table">
          <thead>
            <th style="color:blue">Word</th>
            <th style="color:blue">Content</th>
            <th style="color:blue">Mark</th>
          </thead>           
          <%= render partial: "filter", collection: @lesson_words %>
        </table>
      </div>
    </div>    
  </div>
</div>
